@import './_trix.css';
@import './select2.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.body-content {
    max-height: 300px !important;
    overflow-y: scroll;
}

.trix-button-group--history-tools {
    display: none !important;
}

.error {
    color: red;
}

/* .select2-selection-styling {
    @apply border-2 border-gray-300 rounded;
} */

